*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.container{
  display: flex;
  flex-direction: column;
}

.form-container{
  margin: 0 auto;
  padding: 20px;
}

.cep-list{
  width: 300px;
  margin: 0 auto;
  padding: 5px;
}