@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #06374b;
}

li {
  list-style: none;
  padding: 3px;
}

span {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  margin-bottom: 20px;
}

#form-cep {
  display: flex;
  flex-direction: column;
}

#input-cep {
  margin-bottom: 5px;
  padding: 3px;
  color: #000000;
}

.cep-list {
  width: 400px;
  padding: 5px;
}

.btnCheck {
  padding: 3px;
  background-color: #3bb3e2;
  border-radius: 5px;
  border: 0px;
  box-shadow: 2px 2px #06374b;
  color: #ffffff;
  font-weight: 500;
}

.image {
  width: 300px;
}

.btnCheck:hover {
  background-color: #26802d;
}

@media (max-width: 700px) {
  * {
    font-size: 1rem;
  }

  .image{
    width: 150px;
  }

  .cep-list {
    width: 250px;
  }
}